.app-nav {
  &__items {
    list-style-type: none;
    margin: 0;
  }

  // &__item {
  // }

  &__item + &__item {
    border-top: rem(1px) solid var(--color-dark);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(16px);
    padding: rem(24px) 0;
    font-size: rem(24px);
    width: 100%;
    text-decoration: none;
  }
}
